.btn{
    background: #23A8F2;
    color: white;
    border-radius: 35px 35px;
}

.form-control{
    border-radius: 25px 25px;
}

.form-group label{
    color: #23A8F2;
    font-weight: bold;
}



.btn:hover{
    background: none;
    color: #23A8F2;
    border: solid #23A8F2 2px;
    font-weight: bold;
}